<%= content_for :js do %>
  <%= javascript_include_tag 'inline' %>
<% end %>

<%= form_with(model: post, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.ckeditor :description, editor_template: :inline, editor_type: :inline %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
