<%= content_for :js do %>
  <%= javascript_include_tag 'balloon' %>
<% end %>

<%= form_with(model: project, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.ckeditor :description, editor: { template: :balloon, type: :balloon } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
