<%= content_for :js do %>
  <%= javascript_include_tag 'balloon' %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<h2 style='color: red'>Edit INLINE BELOW:</h2>

<%= ckeditor_tag :description, @project.description, editor: { template: :balloon, type: :balloon, js: "sendData(editorHiddenField.value)" } %>

<br>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
