<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :js %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <ul style="background: #eee">
      <li><%= link_to 'Users Simple Form (classic)', '/users/new' %></li>
      <li><%= link_to 'Projects Regular Form (balloon)', '/projects/new' %></li>
      <li><%= link_to 'Posts Simple Form (inline)', '/posts/new' %></li>
    </ul>
    <div class="clear"></div>
    <br/>
    <br/>
    <%= yield %>
  </body>
</html>
