<div id="<%= id %>_div"></div>

<script>
  document.getElementById("<%= id %>_div").innerHTML = document.getElementById("<%= id %>").value;

  InlineEditor
      .create( document.querySelector( '#<%= id %>_div' ), {
				toolbar: {
					items: [
						'heading',
						'|',
						'bold',
						'italic',
						'underline',
						'strikethrough',
						'link',
						'bulletedList',
						'numberedList',
						'alignment',
						'|',
						'indent',
						'outdent',
						'|',
						'imageUpload',
						'blockQuote',
						'insertTable',
						'mediaEmbed',
						'undo',
						'redo',
						'fontBackgroundColor',
						'fontColor',
						'fontSize',
						'fontFamily',
						'highlight',
						'horizontalLine',
						'removeFormat',
						'specialCharacters',
						'codeBlock'
					]
				},
				language: 'en',
				table: {
					contentToolbar: [
						'tableColumn',
						'tableRow',
						'mergeTableCells',
						'tableProperties'
					]
				},
        simpleUpload: {
          uploadUrl: '/upload',
          headers: {
              'X-CSRF-Token': document.querySelectorAll('meta[name="csrf-token"]')[0].content
          }
        },
        image: {
          toolbar: [ 'imageTextAlternative', '|', 'imageStyle:alignLeft', 'imageStyle:full', 'imageStyle:alignRight' ],

            styles: [
                'full',
                'alignLeft',
                'alignRight'
            ]
        },
      } )
      .then( editor => {
        editor.model.document.on( 'change:data', () => {
          document.getElementById("<%= id %>").value= editor.getData();
        });
      } )
      .catch( error => {
        console.error( error );
      } );
</script>