<%= content_for :js do %>
  <%= javascript_include_tag 'classic' %>
<% end %>

<%= simple_form_for user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :about, as: :ckeditor, editor_template: :classic, editor_type: :classic %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

